<a href="https://colab.research.google.com/github/victor-mthemba/regression_repo/blob/master/The_predict_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Making a model that predicts the delivery time of packages from pick up to the final destination considering various factors.

## Importing the libraries

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [0]:
train_df = pd.read_csv("Train.csv")
test_df = pd.read_csv("Test.csv")
riders_df = pd.read_csv("Riders.csv")
sample_df = pd.read_csv("SampleSubmission.csv")

In [33]:
train_df.head()

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

In [34]:
test_df.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

In [35]:
riders_df.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [36]:
sample_df.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

## Merging Tables

In [0]:
df_train = pd.merge(train_df, riders_df,on = 'Rider Id', how= 'inner')

In [0]:
df_test =  pd.merge(train_df, riders_df,on = 'Rider Id', how= 'inner')

## Remove unnecessary columns

In [0]:
remove_list_train = ['Order No', 'User Id', 'Platform Type', 'Arrival at Destination - Day of Month','Placement - Weekday (Mo = 1)','Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Weekday (Mo = 1)',
                          'Pickup - Weekday (Mo = 1)','Arrival at Destination - Weekday (Mo = 1)','Vehicle Type', 'Temperature', 'Precipitation in millimeters' 
                                ]
remove_list_test = ['Order No', 'User Id', 'Platform Type', 'Arrival at Destination - Day of Month','Placement - Weekday (Mo = 1)','Confirmation - Weekday (Mo = 1)','Arrival at Pickup - Weekday (Mo = 1)',
                          'Pickup - Weekday (Mo = 1)','Arrival at Destination - Weekday (Mo = 1)','Vehicle Type', 'Temperature', 'Precipitation in millimeters' 
                                ]

In [0]:
df_train = df_train.drop(remove_list_train, axis = 1)

In [41]:
df_train.head()

  Personal or Business  Placement - Day of Month  ... Average_Rating  No_of_Ratings
0             Business                         9  ...           13.8            549
1             Personal                        18  ...           13.8            549
2             Business                        31  ...           13.8            549
3             Personal                         2  ...           13.8            549
4             Personal                        22  ...           13.8            549

[5 rows x 21 columns]

In [0]:
df_test = df_test.drop(remove_list_test, axis = 1)

In [43]:
df_test.shape

(21201, 21)

## Create dummy variables for Personal and Business

In [0]:
def create_dummy(df, column):
    return pd.get_dummies(df, columns = [column], drop_first = True)

In [0]:
df_train = create_dummy(df_train, 'Personal or Business')

In [0]:
df_test = create_dummy(df_test, 'Personal or Business')

## Handle Time

In [0]:
train_time_columns = ['Placement - Time', 'Confirmation - Time', 'Arrival at Pickup - Time','Pickup - Time', 'Arrival at Destination - Time']
for time in train_time_columns:
    df_train[time] = pd.to_datetime(df_train[time])

In [0]:
df_train['Time - Placement to Confirmation'] = (df_train['Confirmation - Time'] - df_train['Placement - Time']).dt.total_seconds()

In [0]:
df_train['Time - Confirmation to Arrival at Pickup'] = (df_train['Arrival at Destination - Time'] - df_train['Confirmation - Time']).dt.total_seconds()

In [0]:
df_train['Time - Arrival at Pickup to Pickup'] = (df_train['Pickup - Time'] - df_train['Arrival at Pickup - Time']).dt.total_seconds()

In [0]:
df_train['Speed_Meter_per_Second'] = (df_train['Distance (KM)']*1000)/df_train['Time from Pickup to Arrival']

In [0]:
test_time_columns = ['Placement - Time', 'Confirmation - Time', 'Arrival at Pickup - Time','Pickup - Time', 'Arrival at Destination - Time']
for time in test_time_columns:
    df_test[time] = pd.to_datetime(df_test[time])

In [0]:
df_test['Time - Placement to Confirmation'] = (df_test['Confirmation - Time'] - df_test['Placement - Time']).dt.total_seconds()

In [0]:
df_test['Time - Confirmation to Arrival at Pickup'] = (df_test['Arrival at Destination - Time'] - df_test['Confirmation - Time']).dt.total_seconds()

In [0]:
df_test['Time - Arrival at Pickup to Pickup'] = (df_test['Pickup - Time'] - df_test['Arrival at Pickup - Time']).dt.total_seconds()

In [0]:
df_test['Speed_Meter_per_Second'] = (df_test['Distance (KM)']*1000)/df_test['Time from Pickup to Arrival']

In [0]:
remove_list_train2 = ['Placement - Time', 'Confirmation - Time', 
                                'Arrival at Pickup - Time', 'Pickup - Time', 
                                'Arrival at Destination - Time']
remove_list_test2 = ['Placement - Time', 'Confirmation - Time', 
                                'Arrival at Pickup - Time', 'Pickup - Time', 
                                'Arrival at Destination - Time']

In [0]:
df_train = df_train.drop(remove_list_train2, axis = 1)

In [0]:
df_test = df_test.drop(remove_list_test2, axis = 1)

## Handling the Rider ID

In [0]:
def get_id(df):
    df['Rider Id'] = df['Rider Id'].str.extract(r"([0-9]+)").astype(int)
    return df

In [61]:
get_id(df_train)

       Placement - Day of Month  ...  Speed_Meter_per_Second
0                             9  ...                5.369128
1                            18  ...                6.930007
2                            31  ...                2.294455
3                             2  ...                6.028131
4                            22  ...                4.369538
...                         ...  ...                     ...
21196                        13  ...                3.264418
21197                        21  ...                2.574003
21198                        10  ...                2.894955
21199                        29  ...                2.789400
21200                        30  ...                6.071645

[21201 rows x 20 columns]

In [0]:
get_id(df_test)

,Placement - Day of Month,Confirmation - Day of Month,Arrival at Pickup - Day of Month,Pickup - Day of Month,Distance (KM),Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings,Personal or Business_Personal,Time - Placement to Confirmation,Time - Confirmation to Arrival at Pickup,Time - Arrival at Pickup to Pickup,Speed_Meter_per_Second
0,9,9,9,9,4,-1.317755,36.830370,-1.300406,36.829741,432,745,1637,1309,13.8,549,0,264.0,3585.0,1363.0,5.369128
1,18,18,18,18,20,-1.326774,36.787807,-1.356237,36.904295,432,2886,1637,1309,13.8,549,1,13.0,4813.0,381.0,6.930007
2,31,31,31,31,6,-1.255189,36.782203,-1.273412,36.818206,432,2615,1637,1309,13.8,549,0,1268.0,3834.0,786.0,2.294455
3,2,2,2,2,18,-1.290315,36.757377,-1.223520,36.802061,432,2986,1637,1309,13.8,549,1,19.0,4563.0,202.0,6.028131
4,22,22,22,22,7,-1.273524,36.799220,-1.300431,36.752427,432,1602,1637,1309,13.8,549,1,86.0,2638.0,220.0,4.369538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,13,13,13,13,3,-1.265003,36.812624,-1.265432,36.795034,528,919,5770,1793,14.2,2205,0,1361.0,2149.0,196.0,3.264418
21197,21,21,21,21,6,-1.269609,36.825741,-1.278067,36.783487,638,2331,102,873,13.7,32,1,850.0,3737.0,1072.0,2.574003
21198,10,10,10,10,7,-1.250823,36.789526,-1.285850,36.830629,773,2418,5,105,0.0,0,0,641.0,5774.0,373.0,2.894955
21199,29,29,29,29,2,-1.291787,36.787267,-1.298575,36.808800,860,717,5,448,15.0,2,0,48.0,1657.0,178.0,2.789400
21200,30,30,30,30,10,-1.248278,36.884092,-1.286808,36.821940,53,1647,241,1109,13.7,73,0,9.0,2126.0,395.0,6.071645

## Calculate the distance

In [0]:
def distance(x1,y1,x2,y2):
    d = np.sin((x2-x1)/2.0)**2 + \
        np.cos(x1) * np.cos(x2) * np.sin((y2-y1)/2.0)**2
    return 12742 * np.arcsin(d ** 0.5)

In [0]:
df_train['Distance'] = distance(df_train['Pickup Lat'],df_train['Pickup Long'],df_train['Destination Lat'], df_train['Destination Long'])

In [0]:
df_test['Distance'] = distance(df_test['Pickup Lat'],df_test['Pickup Long'],df_test['Destination Lat'], df_test['Destination Long'])

In [0]:
remove = ['Placement - Day of Month','Confirmation - Day of Month','Placement - Day of Month',"Arrival at Pickup - Day of Month",
                          'Pickup - Day of Month']

In [0]:
df_train = df_train.drop(remove, axis = 1)

In [0]:
df_test = df_test.drop(remove, axis = 1)

In [0]:
df_test

,Distance (KM),Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings,Personal or Business_Personal,Time - Placement to Confirmation,Time - Confirmation to Arrival at Pickup,Time - Arrival at Pickup to Pickup,Speed_Meter_per_Second,Distance
0,4,-1.317755,36.830370,-1.300406,36.829741,432,745,1637,1309,13.8,549,0,264.0,3585.0,1363.0,5.369128,110.532156
1,20,-1.326774,36.787807,-1.356237,36.904295,432,2886,1637,1309,13.8,549,1,13.0,4813.0,381.0,6.930007,252.077041
2,6,-1.255189,36.782203,-1.273412,36.818206,432,2615,1637,1309,13.8,549,0,1268.0,3834.0,786.0,2.294455,135.140724
3,18,-1.290315,36.757377,-1.223520,36.802061,432,2986,1637,1309,13.8,549,1,19.0,4563.0,202.0,6.028131,434.433797
4,7,-1.273524,36.799220,-1.300431,36.752427,432,1602,1637,1309,13.8,549,1,86.0,2638.0,220.0,4.369538,190.629936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,3,-1.265003,36.812624,-1.265432,36.795034,528,919,5770,1793,14.2,2205,0,1361.0,2149.0,196.0,3.264418,33.825244
21197,6,-1.269609,36.825741,-1.278067,36.783487,638,2331,102,873,13.7,32,1,850.0,3737.0,1072.0,2.574003,95.429267
21198,7,-1.250823,36.789526,-1.285850,36.830629,773,2418,5,105,0.0,0,0,641.0,5774.0,373.0,2.894955,236.354386
21199,2,-1.291787,36.787267,-1.298575,36.808800,860,717,5,448,15.0,2,0,48.0,1657.0,178.0,2.789400,57.129684
21200,10,-1.248278,36.884092,-1.286808,36.821940,53,1647,241,1109,13.7,73,0,9.0,2126.0,395.0,6.071645,272.361238

In [0]:
df_train.columns

Index(['Distance (KM)', 'Pickup Lat', 'Pickup Long', 'Destination Lat',
       'Destination Long', 'Rider Id', 'Time from Pickup to Arrival',
       'No_Of_Orders', 'Age', 'Average_Rating', 'No_of_Ratings',
       'Personal or Business_Personal', 'Time - Placement to Confirmation',
       'Time - Confirmation to Arrival at Pickup',
       'Time - Arrival at Pickup to Pickup', 'Speed_Meter_per_Second',
       'Distance'],
      dtype='object')

## Check the correlation of the variables

In [67]:
correlations = df_train[df_train.columns].corr()
correlations['Time from Pickup to Arrival'].abs().sort_values()

No_of_Ratings                               0.005609
Age                                         0.007969
Personal or Business_Personal               0.013354
Confirmation - Day of Month                 0.014701
Arrival at Pickup - Day of Month            0.014701
Pickup - Day of Month                       0.014701
Placement - Day of Month                    0.014710
Rider Id                                    0.017384
Time - Placement to Confirmation            0.035489
No_Of_Orders                                0.041608
Average_Rating                              0.042559
Pickup Lat                                  0.053823
Pickup Long                                 0.060285
Destination Lat                             0.061872
Destination Long                            0.070425
Time - Arrival at Pickup to Pickup          0.079637
Speed_Meter_per_Second                      0.188162
Distance                                    0.508892
Distance (KM)                               0.580608
Time - Confirmation to Arrival at Pickup    0.732104
Time from Pickup to Arrival                 1.000000
Name: Time from Pickup to Arrival, dtype: float64

## Training the model

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
import math

In [0]:
X = df_train.drop('Time from Pickup to Arrival', axis=1)
y = df_train['Time from Pickup to Arrival']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

In [71]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [72]:
###predicting on train set - rmse of train
math.sqrt(mean_squared_error(y_train, lm.predict(X_train)))

473.04720991068524

In [73]:
#predicting on test set - rmse of test
math.sqrt(mean_squared_error(y_test, lm.predict(X_test)))

469.3577303930759

In [0]:
##explain the difference , overfit or underfit? why

## submission on zindi

In [0]:
predictions = sample_df[['Order_No']]

In [77]:
sample_df.columns

Index(['Order_No', 'Time from Pickup to Arrival'], dtype='object')

In [0]:
predictions['Time from Pickup to Arrival'] = lm.predict(df_test.drop('Time from Pickup to Arrival', axis=1))

In [0]:
predictions.to_csv('submission.csv',index=False)