<a href="https://colab.research.google.com/github/victor-mthemba/regression_repo/blob/master/Victor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Reading the datasets

In [0]:
data = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [0]:
data.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [0]:
test.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Weekday (Mo = 1),Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id
0,Order_No_19248,User_Id_3355,Bike,3,Business,27,3,4:44:10 PM,27,3,...,3,5:06:47 PM,8,NaN,NaN,-1.333275,36.870815,-1.305249,36.822390,Rider_Id_192
1,Order_No_12736,User_Id_3647,Bike,3,Business,17,5,12:57:35 PM,17,5,...,5,1:25:37 PM,5,NaN,NaN,-1.272639,36.794723,-1.277007,36.823907,Rider_Id_868
2,Order_No_768,User_Id_2154,Bike,3,Business,27,4,11:08:14 AM,27,4,...,4,11:57:54 AM,5,22.8,NaN,-1.290894,36.822971,-1.276574,36.851365,Rider_Id_26
3,Order_No_15332,User_Id_2910,Bike,3,Business,17,1,1:51:35 PM,17,1,...,1,2:16:52 PM,5,24.5,NaN,-1.290503,36.809646,-1.303382,36.790658,Rider_Id_685
4,Order_No_21373,User_Id_1205,Bike,3,Business,11,2,11:30:28 AM,11,2,...,2,11:56:04 AM,6,24.4,NaN,-1.281081,36.814423,-1.266467,36.792161,Rider_Id_858

In [0]:

data.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [0]:
riders = pd.read_csv('Riders.csv')

# joining in the wholedatasets

In [0]:
ntrain = data.shape[0]
ntest = test.shape[0]

all_data = pd.concat((data, test)).reset_index(drop=True)
print("all_data size is : {}".format(all_data.shape))

C:\Users\Victor\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

all_data size is : (28269, 29)

In [0]:
all_data.columns = ['Arrival at Destination - Day of Month',
       'Arrival at Destination - Time',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Pickup - Day of Month', 'Arrival at Pickup - Time',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Confirmation - Day of Month',
       'Confirmation - Time', 'Confirmation - Weekday (Mo = 1)',
       'Latitude', 'Longitude', 'Distance (KM)', 'Order No',
       'Personal or Business', 'Pickup - Day of Month', 'Pickup - Time',
       'Pickup - Weekday (Mo = 1)', 'latitude2', 'longitude',
       'Placement - Day of Month', 'Placement - Time',
       'Placement - Weekday (Mo = 1)', 'Platform Type',
       'Precipitation in millimeters', 'Rider Id', 'Temperature',
       'Time from Pickup to Arrival', 'User Id', 'Vehicle Type']

In [0]:
all_data['pickup_datetime'] = pd.to_datetime(all_data['Placement - Time'])
all_data.loc[:, 'pickup_date'] = all_data['pickup_datetime'].dt.date
all_data['dropoff_datetime'] = pd.to_datetime(all_data['Confirmation - Time'])
all_data['check_trip_duration12'] = (all_data['dropoff_datetime'] - all_data['pickup_datetime']).map(lambda x: x.total_seconds())

all_data.drop(["dropoff_datetime","pickup_date","pickup_datetime"],axis =1,inplace = True)

In [0]:
all_data.dtypes

Arrival at Destination - Day of Month        float64
Arrival at Destination - Time                 object
Arrival at Destination - Weekday (Mo = 1)    float64
Arrival at Pickup - Day of Month               int64
Arrival at Pickup - Time                      object
Arrival at Pickup - Weekday (Mo = 1)           int64
Confirmation - Day of Month                    int64
Confirmation - Time                           object
Confirmation - Weekday (Mo = 1)                int64
Latitude                                     float64
Longitude                                    float64
Distance (KM)                                  int64
Order No                                      object
Personal or Business                          object
Pickup - Day of Month                          int64
Pickup - Time                                 object
Pickup - Weekday (Mo = 1)                      int64
latitude2                                    float64
longitude                                    float64
Placement - Day of Month                       int64
Placement - Time                              object
Placement - Weekday (Mo = 1)                   int64
Platform Type                                  int64
Precipitation in millimeters                 float64
Rider Id                                      object
Temperature                                  float64
Time from Pickup to Arrival                  float64
User Id                                       object
Vehicle Type                                  object
check_trip_duration12                        float64
dtype: object

In [0]:
all_data['pickup_datetime'] = pd.to_datetime(all_data['Pickup - Time'])
all_data.loc[:, 'pickup_date'] = all_data['pickup_datetime'].dt.date
all_data['dropoff_datetime'] = pd.to_datetime(all_data['Arrival at Pickup - Time'])

all_data['check_trip_duration'] = (all_data['dropoff_datetime'] - all_data['pickup_datetime']).map(lambda x: x.total_seconds())

all_data.drop(["dropoff_datetime","pickup_date","pickup_datetime"],axis =1,inplace = True)

In [0]:
all_data.drop(["Arrival at Destination - Day of Month","Arrival at Destination - Weekday (Mo = 1)","Arrival at Destination - Time"],axis = 1,inplace =True)

In [0]:
all_data.check_trip_duration  = np.abs(all_data.check_trip_duration)

In [0]:
#all_data['tripping '] = all_data.check_trip_duration + all_data.check_trip_duration12

In [0]:
#all_data["checkkk"] = all_data.check_trip_duration**(1/3)

In [0]:
#(all_data.check_trip_duration**(1/3)).hist()

In [0]:
all_data.drop('check_trip_duration',axis = 1,inplace = True)

In [0]:
riders.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [0]:
all_data.shape

(28269, 27)

In [0]:
all_data = pd.merge(all_data,riders,how = 'left',on = ['Rider Id'])

In [0]:
all_data.head()

,Arrival at Pickup - Day of Month,Arrival at Pickup - Time,Arrival at Pickup - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Time,Confirmation - Weekday (Mo = 1),Latitude,Longitude,Distance (KM),Order No,...,Rider Id,Temperature,Time from Pickup to Arrival,User Id,Vehicle Type,check_trip_duration12,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,9,10:04:47 AM,5,9,9:40:10 AM,5,-1.300406,36.829741,4,Order_No_4211,...,Rider_Id_432,20.4,745.0,User_Id_633,Bike,264.0,1637,1309,13.8,549
1,12,11:40:22 AM,5,12,11:23:21 AM,5,-1.295004,36.814358,16,Order_No_25375,...,Rider_Id_856,26.4,1993.0,User_Id_2285,Bike,425.0,396,339,13.6,69
2,30,12:49:34 PM,2,30,12:42:44 PM,2,-1.300921,36.828195,3,Order_No_1899,...,Rider_Id_155,NaN,455.0,User_Id_265,Bike,199.0,1023,242,12.5,114
3,15,9:37:56 AM,5,15,9:26:05 AM,5,-1.257147,36.795063,9,Order_No_9336,...,Rider_Id_855,19.2,1341.0,User_Id_1402,Bike,31.0,886,283,14.5,113
4,13,10:03:53 AM,1,13,9:56:18 AM,1,-1.295041,36.809817,9,Order_No_27883,...,Rider_Id_770,15.4,1214.0,User_Id_1737,Bike,60.0,2311,872,14.1,533

In [0]:
all_data.isnull().sum()

Arrival at Pickup - Day of Month            0
Arrival at Pickup - Time                    0
Arrival at Pickup - Weekday (Mo = 1)        0
Confirmation - Day of Month                 0
Confirmation - Time                         0
Confirmation - Weekday (Mo = 1)             0
Latitude                                    0
Longitude                                   0
Distance (KM)                               0
Order No                                    0
Personal or Business                        0
Pickup - Day of Month                       0
Pickup - Time                               0
Pickup - Weekday (Mo = 1)                   0
latitude2                                   0
longitude                                   0
Placement - Day of Month                    0
Placement - Time                            0
Placement - Weekday (Mo = 1)                0
Platform Type                               0
Precipitation in millimeters            27518
Rider Id                                    0
Temperature                              5803
Time from Pickup to Arrival              7068
User Id                                     0
Vehicle Type                                0
check_trip_duration12                       0
No_Of_Orders                                0
Age                                         0
Average_Rating                              0
No_of_Ratings                               0
dtype: int64

# checking the distribution of the datasets

In [0]:
all_data.isnull().sum()

Arrival at Pickup - Day of Month            0
Arrival at Pickup - Time                    0
Arrival at Pickup - Weekday (Mo = 1)        0
Confirmation - Day of Month                 0
Confirmation - Time                         0
Confirmation - Weekday (Mo = 1)             0
Latitude                                    0
Longitude                                   0
Distance (KM)                               0
Order No                                    0
Personal or Business                        0
Pickup - Day of Month                       0
Pickup - Time                               0
Pickup - Weekday (Mo = 1)                   0
latitude2                                   0
longitude                                   0
Placement - Day of Month                    0
Placement - Time                            0
Placement - Weekday (Mo = 1)                0
Platform Type                               0
Precipitation in millimeters            27518
Rider Id                                    0
Temperature                              5803
Time from Pickup to Arrival              7068
User Id                                     0
Vehicle Type                                0
check_trip_duration12                       0
No_Of_Orders                                0
Age                                         0
Average_Rating                              0
No_of_Ratings                               0
dtype: int64

In [0]:
all_data.columns

Index(['Arrival at Pickup - Day of Month', 'Arrival at Pickup - Time',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Confirmation - Day of Month',
       'Confirmation - Time', 'Confirmation - Weekday (Mo = 1)', 'Latitude',
       'Longitude', 'Distance (KM)', 'Order No', 'Personal or Business',
       'Pickup - Day of Month', 'Pickup - Time', 'Pickup - Weekday (Mo = 1)',
       'latitude2', 'longitude', 'Placement - Day of Month',
       'Placement - Time', 'Placement - Weekday (Mo = 1)', 'Platform Type',
       'Precipitation in millimeters', 'Rider Id', 'Temperature',
       'Time from Pickup to Arrival', 'User Id', 'Vehicle Type',
       'check_trip_duration12', 'No_Of_Orders', 'Age', 'Average_Rating',
       'No_of_Ratings'],
      dtype='object')

In [0]:
#all_data['id_count'] = all_data['Rider Id'].map(Counter(all_data['Rider Id']))

In [0]:
all_data.head()

,Arrival at Pickup - Day of Month,Arrival at Pickup - Time,Arrival at Pickup - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Time,Confirmation - Weekday (Mo = 1),Latitude,Longitude,Distance (KM),Order No,...,Rider Id,Temperature,Time from Pickup to Arrival,User Id,Vehicle Type,check_trip_duration12,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,9,10:04:47 AM,5,9,9:40:10 AM,5,-1.300406,36.829741,4,Order_No_4211,...,Rider_Id_432,20.4,745.0,User_Id_633,Bike,264.0,1637,1309,13.8,549
1,12,11:40:22 AM,5,12,11:23:21 AM,5,-1.295004,36.814358,16,Order_No_25375,...,Rider_Id_856,26.4,1993.0,User_Id_2285,Bike,425.0,396,339,13.6,69
2,30,12:49:34 PM,2,30,12:42:44 PM,2,-1.300921,36.828195,3,Order_No_1899,...,Rider_Id_155,NaN,455.0,User_Id_265,Bike,199.0,1023,242,12.5,114
3,15,9:37:56 AM,5,15,9:26:05 AM,5,-1.257147,36.795063,9,Order_No_9336,...,Rider_Id_855,19.2,1341.0,User_Id_1402,Bike,31.0,886,283,14.5,113
4,13,10:03:53 AM,1,13,9:56:18 AM,1,-1.295041,36.809817,9,Order_No_27883,...,Rider_Id_770,15.4,1214.0,User_Id_1737,Bike,60.0,2311,872,14.1,533

In [0]:
all_data.drop(['Precipitation in millimeters','Temperature','User Id'],axis =1,inplace =True)

In [0]:
# all_data['hourarrival'] = all_data['Arrival at Destination - Time'].astype('str').apply(lambda x:x.split(':')[0])

In [0]:
# all_data['secarrive'] = all_data['Arrival at Destination - Time'].astype('str').apply(lambda x:x.split(':')[-1]).apply(lambda x: x.split(' ')[0])

In [0]:
# all_data['arivalpickupam/pm'] = all_data['Arrival at Pickup - Time'].astype('str').apply(lambda x:x.split(' ')[-1])

In [0]:
import datetime

In [0]:
all_data['Arrival at Pickup - Time'] = pd.to_datetime(all_data['Arrival at Pickup - Time'])

In [0]:
all_data['rhour'] = all_data['Arrival at Pickup - Time'].dt.hour

In [0]:
all_data['sec'] = all_data['Arrival at Pickup - Time'].dt.second

In [0]:
all_data['min'] = all_data['Arrival at Pickup - Time'].dt.minute

In [0]:


#all_data['ampmconfirm'] = all_data['Confirmation - Time'].astype('str').apply(lambda x:x.split(' ')[-1])

In [0]:
all_data['Confirmation - Time'] = pd.to_datetime(all_data['Confirmation - Time'])

In [0]:
all_data['chour'] = all_data['Confirmation - Time'].dt.hour

In [0]:
all_data['cmin'] = all_data['Confirmation - Time'].dt.minute
all_data['csec'] = all_data['Confirmation - Time'].dt.second

In [0]:
all_data.head()

,Arrival at Pickup - Day of Month,Arrival at Pickup - Time,Arrival at Pickup - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Time,Confirmation - Weekday (Mo = 1),Latitude,Longitude,Distance (KM),Order No,...,No_Of_Orders,Age,Average_Rating,No_of_Ratings,rhour,sec,min,chour,cmin,csec
0,9,2020-06-02 10:04:47,5,9,2020-06-02 09:40:10,5,-1.300406,36.829741,4,Order_No_4211,...,1637,1309,13.8,549,10,47,4,9,40,10
1,12,2020-06-02 11:40:22,5,12,2020-06-02 11:23:21,5,-1.295004,36.814358,16,Order_No_25375,...,396,339,13.6,69,11,22,40,11,23,21
2,30,2020-06-02 12:49:34,2,30,2020-06-02 12:42:44,2,-1.300921,36.828195,3,Order_No_1899,...,1023,242,12.5,114,12,34,49,12,42,44
3,15,2020-06-02 09:37:56,5,15,2020-06-02 09:26:05,5,-1.257147,36.795063,9,Order_No_9336,...,886,283,14.5,113,9,56,37,9,26,5
4,13,2020-06-02 10:03:53,1,13,2020-06-02 09:56:18,1,-1.295041,36.809817,9,Order_No_27883,...,2311,872,14.1,533,10,53,3,9,56,18

In [0]:
all_data.drop(['Arrival at Pickup - Time','Confirmation - Time'],axis = 1,inplace = True)

In [0]:
all_data.head()

,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Latitude,Longitude,Distance (KM),Order No,Personal or Business,Pickup - Day of Month,...,No_Of_Orders,Age,Average_Rating,No_of_Ratings,rhour,sec,min,chour,cmin,csec
0,9,5,9,5,-1.300406,36.829741,4,Order_No_4211,Business,9,...,1637,1309,13.8,549,10,47,4,9,40,10
1,12,5,12,5,-1.295004,36.814358,16,Order_No_25375,Personal,12,...,396,339,13.6,69,11,22,40,11,23,21
2,30,2,30,2,-1.300921,36.828195,3,Order_No_1899,Business,30,...,1023,242,12.5,114,12,34,49,12,42,44
3,15,5,15,5,-1.257147,36.795063,9,Order_No_9336,Business,15,...,886,283,14.5,113,9,56,37,9,26,5
4,13,1,13,1,-1.295041,36.809817,9,Order_No_27883,Personal,13,...,2311,872,14.1,533,10,53,3,9,56,18

In [0]:
all_data.shape

(28269, 32)

In [0]:
all_data.drop('Order No',axis =1,inplace = True)

In [0]:
all_data.isnull().sum()

Arrival at Pickup - Day of Month           0
Arrival at Pickup - Weekday (Mo = 1)       0
Confirmation - Day of Month                0
Confirmation - Weekday (Mo = 1)            0
Latitude                                   0
Longitude                                  0
Distance (KM)                              0
Personal or Business                       0
Pickup - Day of Month                      0
Pickup - Time                              0
Pickup - Weekday (Mo = 1)                  0
latitude2                                  0
longitude                                  0
Placement - Day of Month                   0
Placement - Time                           0
Placement - Weekday (Mo = 1)               0
Platform Type                              0
Rider Id                                   0
Time from Pickup to Arrival             7068
Vehicle Type                               0
check_trip_duration12                      0
No_Of_Orders                               0
Age                                        0
Average_Rating                             0
No_of_Ratings                              0
rhour                                      0
sec                                        0
min                                        0
chour                                      0
cmin                                       0
csec                                       0
dtype: int64

In [0]:

#all_data['distance1'] = np.sqrt((data.latitude2 - data.Latitude) ** 2 + (data.longitude - data.Longitude) ** 2)
import math

In [0]:
#np.radians(data.Latitude)
all_data.head()

,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Latitude,Longitude,Distance (KM),Personal or Business,Pickup - Day of Month,Pickup - Time,...,No_Of_Orders,Age,Average_Rating,No_of_Ratings,rhour,sec,min,chour,cmin,csec
0,9,5,9,5,-1.300406,36.829741,4,Business,9,10:27:30 AM,...,1637,1309,13.8,549,10,47,4,9,40,10
1,12,5,12,5,-1.295004,36.814358,16,Personal,12,11:44:09 AM,...,396,339,13.6,69,11,22,40,11,23,21
2,30,2,30,2,-1.300921,36.828195,3,Business,30,12:53:03 PM,...,1023,242,12.5,114,12,34,49,12,42,44
3,15,5,15,5,-1.257147,36.795063,9,Business,15,9:43:06 AM,...,886,283,14.5,113,9,56,37,9,26,5
4,13,1,13,1,-1.295041,36.809817,9,Personal,13,10:05:23 AM,...,2311,872,14.1,533,10,53,3,9,56,18

In [0]:
all_data.dtypes

Arrival at Pickup - Day of Month          int64
Arrival at Pickup - Weekday (Mo = 1)      int64
Confirmation - Day of Month               int64
Confirmation - Weekday (Mo = 1)           int64
Latitude                                float64
Longitude                               float64
Distance (KM)                             int64
Personal or Business                     object
Pickup - Day of Month                     int64
Pickup - Time                            object
Pickup - Weekday (Mo = 1)                 int64
latitude2                               float64
longitude                               float64
Placement - Day of Month                  int64
Placement - Time                         object
Placement - Weekday (Mo = 1)              int64
Platform Type                             int64
Rider Id                                 object
Time from Pickup to Arrival             float64
Vehicle Type                             object
check_trip_duration12                   float64
No_Of_Orders                              int64
Age                                       int64
Average_Rating                          float64
No_of_Ratings                             int64
rhour                                     int64
sec                                       int64
min                                       int64
chour                                     int64
cmin                                      int64
csec                                      int64
dtype: object

In [0]:
all_data.drop(['Pickup - Time','Placement - Time','Rider Id'],axis =1,inplace = True)

In [0]:
#import geocoder
all_data = pd.get_dummies(all_data)

In [0]:
# remove constant features
[feat for feat in all_data.columns if all_data[feat].std() == 0]

['Vehicle Type_Bike']

In [0]:
all_data.drop(['Vehicle Type_Bike'], axis = 1,inplace = True)

In [0]:

#Get the new dataset
data = all_data[:ntrain]
test = all_data[ntrain:]

In [0]:
test.head()

,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Latitude,Longitude,Distance (KM),Pickup - Day of Month,Pickup - Weekday (Mo = 1),latitude2,...,Average_Rating,No_of_Ratings,rhour,sec,min,chour,cmin,csec,Personal or Business_Business,Personal or Business_Personal
21201,27,3,27,3,-1.305249,36.822390,8,27,3,-1.333275,...,13.3,171,16,4,53,16,44,29,1,0
21202,17,5,17,5,-1.277007,36.823907,5,17,5,-1.272639,...,14.4,45,13,27,20,12,59,17,1,0
21203,27,4,27,4,-1.276574,36.851365,5,27,4,-1.290894,...,13.1,67,11,20,33,11,25,5,1,0
21204,17,1,17,1,-1.303382,36.790658,5,17,1,-1.290503,...,13.7,44,14,41,2,13,53,27,1,0
21205,11,2,11,2,-1.266467,36.792161,6,11,2,-1.281081,...,14.1,1010,11,19,47,11,34,45,1,0

In [0]:
test.drop("Time from Pickup to Arrival",axis = 1,inplace = True)

C:\Users\Victor\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
sample = pd.read_csv("SampleSubmission.csv")
sample.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

In [0]:
data.columns

Index(['Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Confirmation - Day of Month',
       'Confirmation - Weekday (Mo = 1)', 'Latitude', 'Longitude',
       'Distance (KM)', 'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)',
       'latitude2', 'longitude', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Platform Type',
       'Time from Pickup to Arrival', 'check_trip_duration12', 'No_Of_Orders',
       'Age', 'Average_Rating', 'No_of_Ratings', 'rhour', 'sec', 'min',
       'chour', 'cmin', 'csec', 'Personal or Business_Business',
       'Personal or Business_Personal'],
      dtype='object')

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
import math

In [0]:

X= data.drop( 'Time from Pickup to Arrival', axis = 1)
y = data["Time from Pickup to Arrival"]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [0]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
###predicting on train set - rmse of train
math.sqrt(mean_squared_error(y_train, lm.predict(X_train)))

783.8869417436679

In [0]:
#predicting on test set - rmse of test
math.sqrt(mean_squared_error(y_test, lm.predict(X_test)))

796.3259218099739

### submission on zindi

In [0]:
lm.predict(test)

array([1382.16898503, 1192.58484732, 1068.35240271, ..., 1714.86528586,
       2758.89093608, 1524.57035906])

In [0]:
sample.columns

Index(['Order_No', 'Time from Pickup to Arrival'], dtype='object')

In [0]:
pred = pd.DataFrame(lm.predict(test),columns= ['Time from Pickup to Arrival' ])

In [0]:
pred = pd.concat([sample['Order_No'], pred], axis =1)

In [0]:
pred.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                  1382.168985
1  Order_No_12736                  1192.584847
2    Order_No_768                  1068.352403
3  Order_No_15332                  1078.113662
4  Order_No_21373                  1046.893384

In [0]:
pred  = pred.round()

In [0]:
pred.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                       1382.0
1  Order_No_12736                       1193.0
2    Order_No_768                       1068.0
3  Order_No_15332                       1078.0
4  Order_No_21373                       1047.0

In [0]:
pred.to_csv("submission.csv", index = False)